interactions:
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/apifront/portal/edicoes/edicoes_from_data/2024-01-03.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2024-01-03","numero":null,"ano":"","itens":[{"id":1905,"data":"03\/01\/2024","suplemento":"","numero":3141,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        do Munic\u00edpio","capa":1,"paginas":10}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ioes.dio.es.gov.br/apifront/portal/edicoes/edicoes_from_data/2023-01-03.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2023-01-03","numero":null,"ano":"","itens":[{"id":7706,"data":"03\/01\/2023","suplemento":0,"numero":25896,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        Oficial do Esp\u00edrito Santo","capa":1,"paginas":93}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://do.corumba.ms.gov.br/apifront/portal/edicoes/edicoes_from_data/2012-06-28.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2012-06-28","numero":null,"ano":"","itens":[{"id":6,"data":"28\/06\/2012","suplemento":0,"numero":3,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        Oficial de Corumb\u00e1","capa":1,"paginas":0}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://doweb.rio.rj.gov.br/apifront/portal/edicoes/edicoes_from_data/2012-05-31.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2012-05-31","numero":null,"ano":"","itens":[{"id":"1777","data":"31\/05\/2012","suplemento":0,"numero":"52","tipo_edicao_id":"1","tipo_edicao_nome":"Diario
        Oficial da Prefeitura do Rio de Janeiro","capa":"1","paginas":"136"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://doe.jaru.ro.gov.br/apifront/portal/edicoes/edicoes_from_data/2022-01-04.json
  response:
    body:
      string: '{"erro":true,"msg":"Edi\u00e7\u00e3o n\u00e3o existente!","data":"2022-01-04","itens":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://doe.jaru.ro.gov.br/apifront/portal/edicoes/edicoes_from_data/2022-01-05.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2022-01-05","numero":null,"ano":"","itens":[{"id":14,"data":"05\/01\/2022","suplemento":0,"numero":2,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        Oficial","capa":1,"paginas":56}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
