interactions:
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/apifront/portal/edicoes/edicoes_from_data/2024-01-03.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2024-01-03","numero":null,"ano":"","itens":[{"id":1905,"data":"03\/01\/2024","suplemento":"","numero":3141,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        do Munic\u00edpio","capa":1,"paginas":10}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/portal/visualizacoes/view_html_diario/1905
  response:
    body:
      string: "<ul id=\"tree\" class=\"filetree\">\r\n\t<li><span class=\"folder\">Leis</span>\r\n\t\t<ul>\r\n\t\t\t<li><span
        class=\"file\"><a class=\"linkMateria\" identificador=\"5228\" pagina=\"\"
        \ > 5228 - 03.01.2024 - LEIS</a>\n                </span>\r\n\t\t\t</li>\r\n\t\t</ul>\r\n\t</li>\r\n\t<li><span
        class=\"folder\">Decretos</span>\r\n\t\t<ul>\r\n\t\t\t<li><span class=\"file\"><a
        class=\"linkMateria\" identificador=\"5229\" pagina=\"\"  > 5229 - 03.01.2024
        - DECRETOS</a>\n                </span>\r\n\t\t\t</li[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/apifront/portal/edicoes/publicacoes_ver_conteudo/5228
  response:
    body:
      string: "<html>\r\n\r\n<head>\r\n<meta http-equiv=Content-Type content=\"text/html;
        charset=utf-8\">\r\n<meta name=Generator content=\"Microsoft Word 15 (filtered)\">\r\n<style>\r\n<!--\r\n
        /* Font Definitions */\r\n @font-face\r\n\t{font-family:\"Cambria Math\";\r\n\tpanose-1:2
        4 5 3 5 4 6 3 2 4;}\r\n@font-face\r\n\t{font-family:\"Calibri Light\";\r\n\tpanose-1:2
        15 3 2 2 2 4 3 2 4;}\r\n@font-face\r\n\t{font-family:Calibri;\r\n\tpanose-1:2
        15 5 2 2 2 4 3 2 4;}\r\n@font-face\r\n\t{font-family:Cambria;\r\n\tpanose-1:2
        4 5 3 5 4 6 3 2 4;}\r\n@font-face\r\n\t{font-family:Tahoma;\r\n\tpanose-1:2
        11 6 4 3 5 4 4 2 4;}\r\n@font-[...]
[...]
